@layer components {
    .image-block {
        grid-column: 1 / -1;
        margin: var(--space-xl) 0;
    }

    .image-block figcaption {
        color: var(--color-text-caption);
        font-size: var(--fs-md);
        margin-top: var(--space-xs);
        text-align: center;
    }

    .image-block img {
        border-radius: var(--radius-sm);
        display: block;
        height: auto;
        max-height: 85vh;
        object-fit: cover;
        width: 100%;
    }

    .image-block--center {
        margin-left: auto;
        margin-right: auto;
    }
    .image-block--full {
        width: 100%;
    }
    .image-block--half {
        width: 50%;
    }
    .image-block--two-thirds {
        width: 66.66%;
    }
    .image-block--left {
        margin-right: auto;
    }
    .image-block--right {
        margin-left: auto;
    }
}

@layer overrides {
    @media (width <= 48rem) {
        .image-block--half,
        .image-block--two-thirds {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
    }
}
