@layer pages {
    .cases-label {
        bottom: 2rem;
        font-size: clamp(3.5rem, 9vw, 8rem);
        left: 1rem;
        line-height: var(--lh-none);
        pointer-events: none;
        position: fixed;
        z-index: 10;
    }
}

@media (width <= 48rem) {
    .cases-label {
        display: none;
    }
}
